@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Raleway", sans-serif;
  background-color: #929aab;
  padding: 50px 0;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 0;
  background-color: #f7f7f7;
  filter: drop-shadow(2px 2px 10px #929aab);
}
.header {
  color: #393e46;
  display: flex;
  justify-content: space-between;
  height: 200px;
  padding: 50px 30px;
}
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header__title {
  font-size: 2rem;
  font-weight: 700;
}
.header__subtitle {
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 120%;
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact__list {
  list-style: none;
}
.contact__list-item > span {
  font-weight: 700;
  margin: 0 5px;
}
.contact__list-item > a {
  text-decoration: none;
  color: #393e46;
}
.icon {
  width: 20px;
  height: 20px;
}
.about {
  display: flex;
  background-color: #393e46;
  color: #f7f7f7;
}
.about__img {
  height: 100%;
  filter: grayscale(100%);
}
.about__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 0 30px;
}
.about__description-title {
  font-weight: 700;
  font-size: 24px;
  border-bottom: #f7f7f7 1px solid;
}
.about__description-subtitle {
  font-weight: 200;
  text-align: justify;
}
.hero {
  display: flex;
}
.skills {
  padding: 50px 30px;
  min-width: 250px;
  background-color: #eeeeee;
  color: #393e46;
}
.skills__title {
  font-weight: 700;
  font-size: 24px;
  border-bottom: #393e46 1px solid;
  margin-bottom: 50px;
}
.skills__wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.skill__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.skill__item-name {
  font-weight: 700;
}
.skill__item-persentage {
  font-weight: 400;
}
.skill__bar {
  margin-bottom: 10px;
  height: 5px;
  background: #8d98aa;
}
.skill__bar-html {
  height: 100%;
  width: 80%;
  background: #393e46;
}
.skill__bar-css {
  height: 100%;
  width: 80%;
  background: #393e46;
}
.skill__bar-js {
  height: 100%;
  width: 30%;
  background: #393e46;
}
.skill__bar-git {
  height: 100%;
  width: 30%;
  background: #393e46;
}
.skill__bar-figma {
  height: 100%;
  width: 75%;
  background: #393e46;
}
.skill__bar-photoshop {
  height: 100%;
  width: 70%;
  background: #393e46;
}
.code__example {
  /* margin-top: 20px; */
  display: flex;
  flex-direction: column;
  padding: 50px 30px;
  width: 100%;
  color: #393e46;
}
.code__example-title {
  font-weight: 700;
  font-size: 24px;
  border-bottom: #393e46 1px solid;
  margin-bottom: 50px;
}
.code {
  background: #eeeeee;
  box-shadow: 5px 5px 5px #393e4648;
}
